.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.plus {
  color: #2a9d8f;
  background-color: #2a9d8f;
  color: #fff;
  box-shadow: 0 4px 0 darken(#2a9d8f, 10%);
  border: 1px solid darken(#2a9d8f, 15%);
}

.minus {
  color: #e63946;
  background-color: #e63946;
  color: #fff;
  box-shadow: 0 4px 0 darken(#e63946, 10%);
   border: 1px solid darken(#e63946, 15%);
}


